*{
    padding: 0;
    margin: 0;
}   
.main{
    background:linear-gradient(75deg,#02fd998c,#3eff04);
    background-position:;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#img{
    width: 150px;
    height: 150px;
}
#btn{
    width: 100px;
    height: 30px;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: medium;
    background:linear-gradient(17deg, #5900ff,#f706f7,#f090a0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#ff00ee;
    color: white;
    border-radius: 10px;
    padding-right:10px;
    padding-left:10px;
    padding-top:2px;
    margin: 10px;
}
#h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    color: white;
   margin-bottom: 10px;
   color:black;
}
#P1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    justify-content: left;
    display: flex;
    top: 21rem;
    left:3rem;
    margin-right: 83.5%;
    background-color:#a902fd8c;
    color: purple;
    border-radius: 10px;
    padding: 10px;
    padding-right: 10px;
}
#P2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    justify-content: right;
    margin-left: 82.5%;
    display: flex;
    border-radius: 5px;
    background-color:#a902fd8c;
    top: 18.6rem;
    right: 2rem;
    color: purple;
    padding: 10px;
    padding-left: 10px;
}